<section>
  <p>
    {{name}}'s donut making facility
  </p>
</section>

<div class="container">
  <img src="/images/donut.gif" id="donut" alt="running man donut">
</div>

<div>
  <p class="clickMe">
    Click me!
  </p>
</div>

<div>
  <p class="donutsForHomer">
      No. of donuts for Homer:
  </p>
</div>

<div id="x">
    <p id="donutTotal">2</p>
</div>