<section>
  <p class="textGold">
    {{name}}&apos;s donut making facility
  </p>
</section>

<body>
  <div id="canUse"></div>
  <div class="container">
    <div id="upgradeArea">
      <div id="upgradeCost"></div>
      <div id="up-1" class="upgrades">upgrade 1</div>
      <div id="up-2" class="upgrades">upgrade 2</div>
      <div id="up-3" class="upgrades">upgrade 3</div>
      <div id="up-4" class="upgrades">upgrade 4</div>
      <div id="up-5" class="upgrades">upgrade 5</div>
      <div id="up-6" class="upgrades">upgrade 6</div>
    </div>
    <div id="donut">
      <img src="/images/donut.png" width="300px"/>
    </div>
  </div>
 
  <div>
    <p class="textBlack">click the donut!!!</p>
    <p class="textBlack">Number of donuts:</p>
  </div>
  <div id="total"></div>
  <div><p id="status"></p></div>
  </body>
  <footer><p class="textBlack">by Emily, Isaac, Ryan and Shirley</p></footer>