<section>
  <p>
    {{name}}'s donut making facility
  </p>
</section>

<body>
  <div id="canUse"></div>
  <div class="container">
    <div id="upgradeArea">
      <div id="up-1">upgrade 1</div>
      <div id="up-2">upgrade 2</div>
      <div id="up-3">upgrade 3</div>
    </div>
    <div id="donut">
      <img src="/images/donut.png" width="300px"/>
    </div>
  </div>
 
  <div>
    <p class="textBlack">click me =)</p>
    <p class="textBlack">Number of donuts:</p>
  </div>
  <div id="total"></div>
  </body>
  <footer><p class="textBlack">by our group</p></footer>