<br>
<div>
  <img src="/images/homer.gif" id="homer" alt="homer reaching for donut">
</div>
<br>
<br>
<br>
<div>
  <form action="">
    <label for="name" class="form-item">
    Enter your name to play!
    <br>
    <input type="text" name="name" placeholder="Samwise Gamgee" value="{{name}}">
    </label>
    <br>
    Press enter to play!
  </form>
</div>
