body {
  background-color: rgba(91, 178, 181, 1);
  font-family: 'Indie Flower', cursive;
  text-align: center;
}

p {
  font-size: 25px;
}

.form-item {
  font-size: 25px;
}

#x {
  display: flex;
  justify-content: center;

}

#donutTotal {
  font-size: 40px;
  text-align: center;
  border: 10px solid pink;
  border-radius: 10px;
  width: 200px;
  height: 60px;
  margin-top: 0px
}

.clickMe {
  margin-top: 5px
}

.donutsForHomer {
  margin-bottom: 5px;
}